// Define variables for your color scheme

// For example use only for bootstrap:
$red: #FD1015;
$blue: #0D6EFD;
$navy: #00245a;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #272020;
$light-gray: #ffffff;



// For SCSS
