  <div id="hero">

    <div class="text-wrapper">
      <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
        <div>
          <h1>A digital space for the designers and the makers</h1>
          <h2>Create, sell, buy patterns and find inspiration</h2>
          <%=
            link_to "Get started",
            patterns_path,
            class: "btn-get-started"
          %>
        </div>
      </div>
    </div>

  </div><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 d-flex screenshot-row" data-aos="zoom-in">
            <div class="screenshot">placeholder</div>
            <div class="screenshot">placeholder</div>
            <%= image_tag "instructions.png", class: "img-fluid screenshot"
            # class: "img-fluid"
            %>
          </div>
          <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0">
              <h3>Your personal library of design and fabric patterns</h3>
              <ul>
                <li class="d-flex align-items-center"><i class="flower-icon mr-1"></i> Watch and follow creators you love </li>
                <li class="d-flex align-items-center"><i class="flower-icon"></i> Step by step instructions in a digital format </li>
                <li class="d-flex align-items-center"><i class="flower-icon"></i> No more giant printouts </li>
              </ul>
              <p class="fst-italic">
                All in one space
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
  </main>
