.carousel-control-prev, .carousel-control-next {
  color: $navy;
  font-size: 2rem;
  &:hover, &:focus, &:active, &:visited, &:link {
    color: $navy;
  }
}

.position-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  h5 {
    background-color: $white;
    margin: 0 auto;
    width: max-content;
  }
}

.step-container{
  min-height: 60vh;
}

.step-description {
  margin: 20px;
}

.carousel-image {
  width: 100%;
  overflow: visible;
}

.carousel-item .carousel-image {
  min-height: 40vh;
  object-fit: contain;
}
