.difficulty-icon {
  background-image: image-url("difficulty_icon.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.difficulty-icon-light {
  background-image: image-url("difficulty_icon_light.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.file-dock-icon {
  background-image: image-url("file_dock_light.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.upload-icon {
  background-image: image-url("upload_light.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.print-icon {
  background-image: image-url("print_light.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}
.collapse-icon {
  background-image: image-url("collapse_light.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.trashcan-icon {
  background-image: image-url("trashcan.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}


.flower-icon {
  background-image: image-url("flower.svg");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
}
