.navbar-lewagon {
  justify-content: space-between;
  background: var(--bs-body-bg);
  padding-top: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  align-items: center;
}

.navbar-lewagon .navbar-cart img {
  width: 40px;
}
