.index-patterns{

  .heading {
    background-color: $blue;
  }



  .each-card{
    min-height: 380px;
    max-height: 500px;
    margin: 10px 0;
  }

  .img-top{
    width: 100%;
    height: 62%;
  }

  .bottom-link-index{
    position: absolute;
    bottom: 0;
    right: 0;
    width:100%;
  }

}
