<h1>Edit page</h1>

<%= simple_form_for [@pattern,  @review] do |f| %>
  <%= f.input :content , class: 'btn btn-outline-primary'%>
  <br>
  <%= f.submit 'Submit review', class: 'btn btn-primary' %>
<% end %>
